<br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Gestión de Clientes</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success float-right" [routerLink]="[{outlets: { modal: ['form-client'] }}]">
                Agregar
            </a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID Cliente
                        </th>
                        <th>
                            Nit
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Email
                        </th>
                        <th style="min-width: 100px;">
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>
                            {{client.clientId}}
                        </td>
                        <td>
                            {{client.nit}}
                        </td>
                        <td>
                            <a routerLink="../services-client/{{client.clientId}}">
                                {{client.name}}
                            </a>
                        </td>
                        <td>
                            {{client.email}}
                        </td>
                        <td>
                            <a [routerLink]="[{outlets: { modal: ['form-client', client.clientId] }}]" class="btn btn-sm btn-primary" title="Editar">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <button (click)="deleteClient(client)" class="btn btn-sm btn-danger" title="Eliminar" style="margin-left: 10px;">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<router-outlet name="modal"></router-outlet>