<br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Configuración de Servicios</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success float-right" [routerLink]="[{outlets: { modal: ['form-service'] }}]">
                Agregar
            </a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID Servicio
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Valor
                        </th>
                        <th style="min-width: 100px;">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services">
                        <td>
                            {{service.serviceId}}
                        </td>
                        <td>
                            {{service.name}}
                        </td>
                        <td>
                            USD {{service.value | currency}}
                        </td>
                        <td>
                            <a [routerLink]="[{outlets: { modal: ['form-service', service.serviceId] }}]" class="btn btn-sm btn-primary" title="Editar">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <button (click)="deleteService(service)" class="btn btn-sm btn-danger" title="Eliminar" style="margin-left: 10px;">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<router-outlet name="modal"></router-outlet>